@media only screen and (max-width: 767px){
  .mob-text-center{
    text-align: center!important;
  }
  .pb2em{
    padding-bottom: 1em !important;
  }
  .menu-footer-container{
    display: none;
  }
  input.email-input{
    max-width: 300px !important;
    margin: 5px auto 1em !important;
  }
}

