@import "variables";

@media only screen and (min-width: 58.75em){
  .case-studies-extension{
  }
  .home .masthead-photo-content{
    margin-top:170px;
  }
  .pageBottomBox{
    .stat-number{
      font-size: 6em;
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }
    .top-bar-section > ul > .divider{
    display: none;
  }
  .post-block{
    h3{
      min-height: 50px;
    }
    p.excerpt{
      min-height: 100px;
    }
  }
  body h2{ font-size: 2.7em; }
  .stat h2{ font-size: 3.5em; }
  .entry-content{
    font-size: 1.2em;
  }
 section.top-bar-section li a:not(.button) {
  padding: 0 24px !important;
  }
  section.top-bar-section .dropdown li a:not(.button) {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
  }

}