.accessory_image{
  background: white;
  text-align: center;
  padding: 1em .6em .3em ;
  border-radius: 3px;
  border: 2px solid #d9d9d9;
  .accessory-title{
    text-align: left;
    padding: .3em .5em;
    font-family: "franklin-gothic-urw-comp";
    font-size: 1.2em;
    font-weight: 400;
    color: #222222 !important;
    line-height: 1.3;
    margin-bottom: .5em;
    &:hover{
      color: lighten(#222222, 20%);
    }
  }
  img{
    border-radius: 3px;
    opacity: .7;
    @include transition (all, .6s);
    &:hover{
      opacity: 1;
    }
  }
}
  .about.panel{
    p{
      font-size: .9em;
      margin-bottom: .5em !important;
    }
    h4{
      margin-bottom: 0em;
    }
  }