
.orbit-container{ overflow: hidden !important;}
.orbit-container li{ display: none !important;}
.orbit-container li.active{ display: block !important;}

.masthead-photo-content{
  display: none;
}

// Right and Left Navigation that stacked by default
.top-bar-section {
  position: relative;
  width: auto;
}
  // Styling for list items that have a dropdown within them.
.top-bar-section .has-dropdown {
  position: relative;
}
.top-bar-section .has-dropdown a:after {
  display:none !important;
}